<div class="container full-width full-height">
  <!-- Button group -->
  <div class="h-container" style="margin-right: 0.5rem">
    <button class="btn2">Short Break</button>
    <button class="btn2">Short Break</button>
    <button class="btn2">Short Break</button>
  </div>
  <!-- Circle -->
  <div>
    <div class="circle">
      <div
        [@rotate]="state"
        (@rotate.done)="onDone()"
        [@moveUp]="{
          value: moveup,
          params: { percentage: percentage, time: time }
        }"
        class="fill"
      ></div>
    </div>
  </div>

  <div class="timer-text">
    {{ ("0" + minutes).slice(-2) }}:{{ ("0" + seconds).slice(-2) }}
  </div>
  <div class="button-container">
    <button class="btn" (click)="startTimer()">Start</button>
    <button class="btn" (click)="stopTimer()">Stop</button>
    <button class="btn" (click)="resetTimer()">Reset</button>
  </div>
</div>
