* {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #252424;
}
.navbar {
  background-color: #1a1a1a;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8739f9;
  font-size: 1.4rem;
}
